# Ignore bundler config.
/DRP/.bundle

# Ignore the default SQLite database.
/DRP/db/*.sqlite3
/DRP/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/DRP/log/*.log
/DRP/tmp

# Ignore other unneeded files.
#database.yml
/DRP/doc/
/DRP/*.swp
/DRP/*~
/DRP/.project
/DRP/.DS_Store
/DRP/.idea
/DRP/.rvmrc
/DRP/.ruby-*
/DRP/.secret